<server description="Sample Liberty server">

    <featureManager>
        <platform>jakartaee-10.0</platform>
        <feature>restfulWS</feature>
        <feature>jsonb</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9080"/>
    <variable name="https.port" defaultValue="9443"/>

    <httpEndpoint id="defaultHttpEndpoint"
        host="*" httpPort="${http.port}" httpsPort="${https.port}"/>

    <webApplication location="guide-cors.war" contextRoot="/"/>

    <!-- tag::simple-config[] -->
    <cors domain="/configurations/simple"
        allowedOrigins="http://openliberty.io"
        allowedMethods="GET"
        allowCredentials="true"
        exposeHeaders="MyHeader"/>
    <!-- end::simple-config[] -->

    <!-- tag::preflight-config[] -->
    <cors domain="/configurations/preflight"
        allowedOrigins="*"
        allowedMethods="OPTIONS, DELETE"
        allowCredentials="true"
        allowedHeaders="MyOwnHeader1, MyOwnHeader2"
        maxAge="10"/>
    <!-- end::preflight-config[] -->

</server>